@font-face {
   font-family: 'Noto Sans JP';
   font-style: normal;
   font-weight: 400;
   src:
     local('Noto Sans CJK JP'),
     local('NotoSansCJKjp-Regular'),
     local('NotoSansJP-Regular'),
     url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
     url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
     url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Noto Sans'),
    local('NotoSans'),
    url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format('woff2');
}





body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //background-color: #eee;
}

body {
  font-family: "Noto Sans", Verdana, sans-serif;
}

:lang(jp) {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

:root {
  --primary-color: #ec407a;
  --primary-color: #d02d2e;
}






body > main {
  max-width: 25em;
  margin: 0 auto;
  padding-top: 2em;
}

h1, h2 {
  font-weight: normal;
  padding: 0;
}
h1 {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0 0 0 1em;
  margin: 0;
}






.bigno {
  background-color: #fff59d;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
}

.mdc-button {
  font-size: 0.8em;
  height: 2.5em;
  padding: 0 1.1em;
  line-height: 2.5em;
  margin: 0;
  font-family: inherit;
}


.onwhite {
  background-color: rgba(255, 255, 255, 0.8);
}
.nowrap {
  //white-space: nowrap;
}






body > main > * {
  margin: 1em;
}


body > main > section > * {
  //font-size: 95%;
}







#en-header h1, #jp-header h1 {
  text-transform: uppercase;
  line-height: 1.0;
}
#en-header {
  grid-area: hen;

  justify-self: stretch;
  align-self: stretch;

  padding-right: 1em;
}
#en-header h1 {
  font-size: 180%;
}


#jp-header {
  grid-area: hjp;

  justify-self: end;
  align-self: start;

  padding-bottom: 1em;
}
#jp-header h1 {
  font-size: 160%;
}




.card {
  position: relative;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}
.card--actionable {
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.card--actionable:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
}

.card > main > h2:first-child {
  margin-top: 0;
  margin-right: 0;
}




.card h2 {
  font-size: 100%;
  text-transform: uppercase;
  color: var(--primary-color);
}

.card > main {
  margin: 1.5em;
  position: relative;
}


.card--bilingual > main:first-child {
  padding-top: 1em;
}
.card--bilingual > main:last-child {
  padding-bottom: 1em;
}



.card figure {
  position: relative;
  background-size: cover;
  background-position: center center;
}





#book .airbnb-button {
  grid-area: btn;
  justify-self: stretch;
}



#contact {
  grid-area: con;
  align-self: end;
  overflow: hidden;
}



.space {
  background-size: cover;
  background-position: center center;
}
.space h2 {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
}

#space {
  background-image: url("room3.jpg");
}

#space2 {
  background-image: url("room1.jpg");
  background-position: bottom right;
}


#location figure {
  background-image: url("mapbw.png");

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  overflow: visible;
}
#location figure .map-button {
  background-color: var(--primary-color);
  transform: scale(1.1);
}
#location figure .map-button img {
  width: 24px;
  height: 24px;
}


#book .airbnb-button {
  display: block;
  width: 100%;
}


#contact {
  opacity: .6;
}
.contact-icon > img {
  height: 1.4em;
  width: 1.4em;
}
.contact-icon {
  display: inline-block;
  margin: .5em;
  vertical-align: middle;
}



/* Grids */

@supports ((display: grid) and (writing-mode: vertical-rl)) {
  @media screen and (min-width: 720px) {

    [lang=jp] {
      writing-mode: vertical-rl;
    }

    body > main {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      padding: 0;
      margin: 0;
      min-width: none;
      max-width: none;

      min-height: 650px;
    }

    body > main > * {
      margin: 0;
    }

    .card--bilingual > main {
      padding: 0 !important;
    }
    .card--bilingual > main[lang=en] {
      grid-area: en;

      margin: 1em 0 1em 1.5em;
    }
    .card--bilingual > main[lang=jp] {
      grid-area: jp;

      margin: 1em 1em 1em 0;
      justify-self: end;
    }

    .card--bilingual {
      display: grid;
      grid:
        "en jp" 1fr
        / 1fr 1fr
       ;
       grid-row-gap: 1.25vh;
    }


    #location > main ,
    #book > main ,
    #facilities > main {
      font-size: 85%;
      line-height: 1.4
    }


    .space {
      grid-area: spc;

      grid:
        "en en jp" 1fr
        "pic pic jp" 1fr
        / auto auto auto
      ;
      grid-row-gap: 1.25vh;
    }


    #location {
      grid-area: loc;

      grid:
        "pic pic" 1fr
        "en jp" 1fr
        / auto auto
      ;
      grid-row-gap: 1.25vh;
    }


    #book {
      grid-area: res;

      align-self: stretch;
      justify-self: stretch;
      overflow: hidden;

      grid:
       "en jp" auto
       "btn btn" 2em
       / auto auto;
      grid-gap: 0;
    }


    #facilities {
      grid-area: fac;
      align-self: stretch;

      grid:
        "en jp" auto
        / 1fr 1fr;
      grid-gap: 0;
    }


    #facilities main ul {
      padding: 0;
      margin: 0;
    }
    #facilities main ul li {
      list-style-type: none;
      display: inline;
    }

    #facilities main[lang=en] ul li {
      hyphens: auto;
      -webkit-hyphens: auto;
    }
    #facilities main[lang=en] ul li:after {
      content: ",";
    }
    #facilities main[lang=en] ul li:last-child:after {
      content: "";
    }
    #facilities main[lang=jp] ul li:before {
      content: "・";
    }

    .gridContainer {
      display: grid;
      grid:
        [row1-start] ".           . . . . . ." .2fr [row1-end]
        [row1-start] ". hen spc spc spc hjp ." 1fr [row1-end]
        [row2-start] ". loc spc spc spc hjp ." 1fr [row2-end]
        [row3-start] ". loc res res fac fac ." 1fr [row3-end]
        [row4-start] ". con con con fac fac ." .5fr [row4-end]
        [row5-start] ".           . . . . . ." .2fr [rowt-end]
        / .2fr 1fr .5fr .5fr .5fr .5fr .2fr;
      grid-row-gap: 1.25vh;
      grid-column-gap: 1.25vw;
      grid-auto-flow: row;
    }

    .gridUnderlay {
      height: 100vh;
      min-height: 650px;

      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      display: grid;
      grid:
        "white" .2fr
        "white" 1fr
        "white" 1fr
        "transparent" 1fr
        "transparent" .5fr
        "transparent" .2fr
        / 1fr
      ;
      grid-row-gap: 1.25vh;
      z-index: -1;
      background: url(pixel_weave_@2X.png) center center;
    }
    .gridUnderlay .white-bg {
      grid-area: white;
      align-self: stretch;
      background: white;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }
    .gridUnderlay div:last-child {
      grid-area: transparent;
    }

  }


  @media screen and (min-width: 1300px) {
    body {
      font-size: 110%;
    }
  }
  @media screen and (min-width: 1800px) {
    body {
      font-size: 140%;
    }
    #location figure .map-button {
      transform: scale(2);
    }
  }
  @media screen and (max-width: 885px) and (min-aspect-ratio: 150/190) {
    body {
      font-size: 90%;
    }
  }
}
